* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar.navbar-expand-lg.navbar-light {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #b5af88;
}
.navbar.navbar-expand-lg.navbar-light .navbar-nav .nav-item:hover {
  background-color: #b5af88;
  transition: 1s;
}
.navbar.navbar-expand-lg.navbar-light .navbar-nav .nav-item.nav-link {
  color: #ffffff;
}
.header {
  color: #b5af88;
}
.session-message {
  color: #b5af88;
  list-style-type: none;
  font-weight: 600;
}
.page-wrapper {
  position: relative;
}
.page-wrapper .carousel-container {
  position: relative;
  margin-top: 20px;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.page-wrapper .carousel-container .carousel-slide {
  display: flex;
  width: 100%;
  height: 500px;
}
.page-wrapper .carousel-container .fas {
  position: absolute;
  z-index: 1;
  font-size: 50px;
  color: #b5af88;
  top: 45%;
  cursor: pointer;
}
.page-wrapper .carousel-container .fas.fas:hover {
  color: #b5af88;
  transition: 1s;
}
.page-wrapper .carousel-container .fas.slider-arrow-next {
  right: 1%;
}
.page-wrapper .carousel-container .fas.slider-arrow-prev {
  left: 1%;
}
.page-wrapper .three-images-area {
  padding: 0;
  margin-top: 20px;
}
.page-wrapper .three-images-area .three-image {
  position: relative;
  width: 350px;
}
.page-wrapper .three-images-area .three-image:hover .overlay {
  bottom: 0;
  height: 100%;
  cursor: pointer;
}
.page-wrapper .three-images-area .three-image .three-img {
  display: block;
  width: auto;
  height: auto;
  border-radius: 15px;
  
}
.page-wrapper .three-images-area .three-image .overlay {
  position: absolute;
  bottom: 100%;
  background-color: #b5af88;
  opacity: 0.8;
  overflow: hidden;
  width: 350px;
  height: 0;
  transition: 0.5s ease;
  border-radius: 15px;
}
.page-wrapper .three-images-area .three-image .overlay .overlay-text {
  color: white;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.page-wrapper .three-services {
  margin-top: 20px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.page-wrapper .three-services .services {
  padding: 20px;
  border-left: 1px solid #eeeeee;
}
.page-wrapper .three-services .services.services-first {
  border-left: none;
}
.page-wrapper .three-services .services .fas {
  color: #a2a2a2;
  font-size: 20px;
}
.page-wrapper .three-services .services .text-area {
  display: inline-block;
  padding-left: 15px;
  color: #a2a2a2;
}

.opis-usluga {
  margin-top: 10px;
}
.opis-usluga-text {
  font-family: 'Trebuchet MS' !important;
  font-style: italic;
  color: #b5af88;
  font-weight: 700;
  font-size: 22px;
}
.img-tretmani {
  border: 5px solid #b5af88;
  border-radius: 15px;
}

.usluge-naslov {
  padding: 5px;
  color: #b5af88;
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
}

.page-wrapper .page-footer {
  background-color: #b5af88;
  color: #ffffff;
}
.page-wrapper .page-footer .footer-area .list-unstyled {
  color: #ffffff;
  font-weight: 500;
}
.page-wrapper .page-footer .footer-area .list-unstyled .contact-information .address {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}
.page-wrapper .page-footer .footer-area .list-unstyled .contact-information address {
  font-size: 14px;
  margin-bottom: 2px;
}
.page-wrapper .page-footer .footer-area .list-unstyled .footer-link {
  line-height: 2.4em;
  color: #ffffff;
  font-weight: 700;
}
.page-wrapper .page-footer .footer-copyright {
  padding-top: 0 !important;
}
.page-wrapper.room-page .image-header {
  margin-top: 20px;
}
.page-wrapper.room-page .image-header .room-booking {
  filter: brightness(0.7);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.page-wrapper.room-page .booking-user-info .booking-button {
  background: #b5af88;
  border: none;
}
.admin-page-wrapper .login-area {
  border: 3px solid #040440;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 35px;
  margin-top: 20%;
}
.admin-page-wrapper .login-area .header {
  color: #040440;
}
.admin-page-wrapper .bg-dark.d-md-block.admin-menu-sidebar {
  background-color: #040440 !important;
}
.admin-page-wrapper .bg-dark.d-md-block.admin-menu-sidebar .admin-info-header {
  width: 1837px;
  position: relative;
  background: #040440;
  top: -8px;
  padding: 10px;
}
.admin-page-wrapper .bg-dark.d-md-block.admin-menu-sidebar .sidebar .navbar-nav,
.admin-page-wrapper .bg-dark.d-md-block.admin-menu-sidebar .sidebar .nav-item {
  background-color: #040440;
  border: none;
}
.admin-page-wrapper .bg-dark.d-md-block.admin-menu-sidebar .sidebar .navbar-nav:hover,
.admin-page-wrapper .bg-dark.d-md-block.admin-menu-sidebar .sidebar .nav-item:hover {
  background-color: #000065;
  transition: 1s;
}
.admin-page-wrapper .bg-dark.d-md-block.admin-menu-sidebar .sidebar .text-left {
  border-bottom: 1px solid #787878;
  border-radius: 0;
}
.admin-page-wrapper .bg-dark.d-md-block.admin-menu-sidebar .sidebar .text-left .nav-link {
  font-size: 18px;
  font-weight: 600;
}
.admin-page-wrapper .admin-username {
  position: relative;
  left: 20px;
  font-size: 25px;
}
.admin-page-wrapper .admin-content {
  margin-top: 100px;
}
.admin-page-wrapper .admin-content .table-responsive {
  margin-top: 50px;
}
.admin-page-wrapper .admin-content .table-responsive .table-head {
  background-color: #F7F7F7;
}
.admin-page-wrapper .admin-content .table-responsive .table-head td {
  font-weight: 700;
}
.admin-page-wrapper .admin-content .btn-submit-admin {
  background: #040440;
}
.register-page .registration-area,
.update-page .registration-area,
.register-page .customer-information-area,
.update-page .customer-information-area {
  margin-top: 50px;
  padding: 30px;
  border: 3px solid #b5af88;
  border-radius: 10px;
}
.btn-contact {
  background-color: #b5af88;
}
.register-page .registration-area .btn-primary,
.update-page .registration-area .btn-primary,
.register-page .customer-information-area .btn-primary,
.update-page .customer-information-area .btn-primary {
  background-color: #b5af88;
  border: none;
}
.register-page .registration-area .btn-primary:hover,
.update-page .registration-area .btn-primary:hover,
.register-page .customer-information-area .btn-primary:hover,
.update-page .customer-information-area .btn-primary:hover {
  background-color: #8ddbe4;
  transition: 1s;
}
.login-page .login-area {
  margin-top: 50px;
  padding: 30px;
  border: 3px solid #b5af88;
  border-radius: 10px;
}
.login-page .login-area .btn-primary {
  background-color: #b5af88;
  border: none;
}
.login-page .login-area .btn-primary:hover {
  background-color: #8ddbe4;
  transition: 1s;
}
.top-header {
  padding: 20px;
  background-color: #ffffff;
  position: relative;
}
.top-header .top-header-content .welcome-message {
  position: absolute;
  top: 10px;
  overflow: hidden;
}
.top-header .top-header-content .customer-information {
  position: absolute;
  top: 10px;
  right: 15px;
}
.top-header .top-header-content .customer-information .login-links .login-links-text {
  color: #b5af88;
}
.top-header .top-header-content .customer-information .popup-button {
  position: relative;
  color: #b5af88;
  font-weight: 700;
  padding: 15px 25px 15px 25px;
  cursor: pointer;
  left: 20px;
  visibility: visible;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}
.top-header .top-header-content .customer-information .popup-button:hover {
  transition: 1s;
  color: #08707b;
}
.top-header .top-header-content .customer-information .popup-text-area {
  visibility: hidden;
  width: 160px;
  background-color: #ffffff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  top: 145%;
  right: 0;
  height: 70px;
  box-shadow: 0 0 3px silver;
}
.top-header .top-header-content .customer-information .popup-text-area::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 89%;
  margin-left: -5px;
  border-width: 5px;
  border-color: #555 transparent transparent transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ffffff;
}
.top-header .top-header-content .customer-information .show {
  visibility: visible;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}
.contact-page .contact-tree-info .contact-part {
  text-align: center;
  padding: 70px;
  border: 1px solid silver;
  margin-top: 50px;
  max-width: 30%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.contact-page .contact-tree-info .contact-part.contact-second {
  left: 50px;
}
.contact-page .contact-tree-info .contact-part.contact-third {
  left: 100px;
}
.contact-page .contact-tree-info .contact-part .fas {
  font-size: 40px;
}
.contact-page .contact-tree-info .contact-part .contact-tree-header {
  margin-top: 20px;
}
.contact-page .form-info {
  margin-top: 50px;
}
.contact-page .form-info .contact-form {
  border-right: 1px solid #dfdee3;
}
.contact-page .form-info .contact-form .form-group .form-control {
  width: 90%;
}
.contact-page .form-info .contact-form .form-group .form-control.textarea {
  height: 17em;
}
.contact-page .form-info .btn-contact {
  background-color: #b5af88;
  border: none;
}
.contact-page .form-info .btn-contact:hover {
  background-color: #8ddbe4;
  transition: 1s;
}
@media screen and (max-width: 992px) {
  .contact-page .contact-tree-info .contact-part {
    max-width: none;
  }
  .contact-page .contact-tree-info .contact-part.contact-second {
    left: 0;
  }
  .contact-page .contact-tree-info .contact-part.contact-third {
    left: 0;
  }
}
@media screen and (max-width: 478px) {
  .page-wrapper .three-services .services {
    border-left: none;
    border-bottom: 1px solid #eeeeee;
  }
}
